
VITE_SUPABASE_URL=https://qkvmepwicuewjefvqzag.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here



# Hugging Face (FREE - get token at hf.co/settings/tokens)
VITE_HF_TOKEN=your_hugging_face_token_here

# Edamam Nutrition API (FREE - developer.edamam.com)
VITE_EDAMAM_APP_ID=dc4ca6ae
VITE_EDAMAM_APP_KEY=your_edamam_app_key_here

